<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Pizza</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
</style>
<body>
<!-- Start Content -->
<div id="home" class="w3-content">

<!-- About -->
<div id="Quem Somos" class="w3-container w3-red w3-grayscale w3-xlarge w3-padding-64">
<h1 class="w3-center w3-jumbo">Poço das Artes</h1>
<p></p>
<p><strong>Ao Comando da Chef:</strong> Bruna Andrade<img src="/images/Bruna_img.jpg" style="width:150px" class="w3-circle w3-right" alt="Chef"></p>
<p>Funcionamos ao ar livre</p>
<p class="w3-padding-16 w3-stretch">
<img src="/images/poço-das-artes-20180302.jpg" style="width:60%" alt="Restaurant">
</p>
<h1><b>Opening Hours</b></h1>
<div class="w3-row">
<div class="w3-half">
  <p></p>
  <p></p>
  <p></p>
</div>
<div class="w3-row">
  <p>Sexta 19:00 - 00:00</p>
  <p>Saturday 19:00 - 00:00</p>
  <p>Domingo Fechado</p>
</div>
</div>    
</div>

<!-- End Content -->
</div>
</body>
</html>
